*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
:root {
  --red: #d01c28;
  --gray: #2e2e2e;
}

button {
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: #fdf9f9;
  font-weight: 500;
  align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 72px;
    max-width: 1280px;
    align-items: center;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 24px;
  margin: auto;
}

.hero{
  display: flex;
  align-items: center;
  height: 100vh;
}
.hero h1 {
  font-weight: 800;
  line-height: 102px;
  font-size: 108px;
}
.hero p {
  font-weight: 600;
  color: var(--gray);
  max-width: 400px;
}

.hero-btn{
  display: flex;
  gap: 40px;
}
.secondary-btn {
  background: transparent;
  color: var(--gray);
  border: 1px solid rgb(231, 180, 180);
}

.shopping p {
  font-size: 14px;
  margin-bottom: 8px;
}
.brand-icons {
  display: flex;
  gap: 16px;
}