*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}
.nav{
  background-color: aqua;
  height: 50px;
  width: 100%;
}

.sec{
  background-color: rgb(64, 98, 98);
  height: 80vh;
  width: 100%;
  padding: 80px;
}

.cen{
  height: 40vh;
  margin: 0 auto;
  width: 70%;
  background-color: rgb(198, 134, 51);
  text-align: center;
  display: flex;
  justify-content: center;  /* left-right center */
  align-items: center;
  

}